.navbar {
	background: rgba(0,0,0,0.7);
}

.dropdown-menu {
	background-color: beige;
}

.jumbotron {
	margin-bottom: 0px;
}

.about {
	background: orange;
	color: black;
	border-top: solid;
	border-color: black;
	height: auto;
}

.portfolio {
	background: #F5F5F5;
	color: black;
	border-top: solid;
	border-bottom: solid;
	border-color: black;
	height: auto;
}

.connect {
	background: #B0E0E6	;
	color: black;
}

.pad {
	padding: 20px;
	margin: 10px;
}

.container-fluid {
	width: 100%;
	height: auto;
	padding: auto;
	margin: auto;
}

footer {
	margin: auto;
	padding: 10px 0px;
	border-top: solid;
	border-color: black;
	background: #F5F5F5;
	color: black;
	height: auto;
	width: 100%;
}

.fa-linkedin {
	border-radius: 10px;
	width: 50px;
	height: 52px;
	border-style: solid;
	border-color: #0077b5;
	color: #0077b5;
}

.fa-github {
	background-color: grey;
	color: white;
	border-radius: 10px;
	width: 50px;
	height: 50px;
}

.fa-facebook {
	background-color: #3b4998;
	color: white;
	border-radius: 10px;
	width: 50px;
	height: 50px;
}

.fa-twitter {
	background-color: #55acee;
	color: white;
	border-radius: 10px;
	width: 50px;
	height: 50px;
}

.fa-instagram {
	background: radial-gradient(
		circle at 30% 107%,
		#fdf497 0%,
		#fdf497 5%,
		#fd5949 45%,
		#d6249f 60%,
		#285aeb 90%
	);
	color: white;
	border-radius: 10px;
	width: 50px;
	height: 50px;
}

.fa-at {
	background-color: black;
	color: red;
	border-radius: 10px;
	width: 50px;
	height: 50px;
}

.fa {
	padding: 10px;
	font-size: 30px;
	text-align: center;
}

.fa:hover {
	transform: skew(-10deg);
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 5s steps(60, end),
    blink-caret .75s step-end infinite;
	padding-bottom: 10px;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

